<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Source Sans Pro", sans-serif;
        }
        label{
            margin-bottom: 30px;
            color: #f8f4f4;
            cursor: text;
            font-size: 20px;
           
        }
        input, select{width: 100%;
            outline: none;
            border: 2px solid #fafafa;
            background: none;
            padding: 0rem 0rem;
            color: #76b1b9;
            font-weight: 600;
            font-size: 15px;
            letter-spacing: 0.5px;
            border-radius: 25px;
            transition: 0.3s;
        }
    </style>
    <title>Car Prediction</title>
</head>

<body> 
    <main style="height: 100%" class="container">
        <div 
            style="background-color: #4f504f; height: 50px; padding: 1rem 2rem; color: white"
            class=""
        >
            <center>
            <div style="font-size: 20px;">
                <h2 class='container-heading'><span class="heading_font">Car Price Predictor</span></h2>
            </div>
            <div
                style="margin-top: 1.5rem; display: grid; grid-template-columns: repeat(5, 1fr)">
            </div>
            </center>
        </div>

    <div class="form" >
        <center>
        <form action="{{ url_for('predict')}}" method="POST">
        <div
            style="width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0,0,0,0.7), transparent), url(images/background9.png)
            ;
            background-size: cover;
            background-position: center;
            padding: 0 8%;
            position: relative;"

        >
             <div style="
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    max-width: 820px;
                    height: 500px;
                    background-color: #8a8b8742;
                    border-radius: 10px;
                    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
                    z-index: 1000;
                    overflow: hidden;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);"
        >

                <div class="form-1">
                    <br><br>
                        <label for="">Xuất xứ</label>
                        <select name="Xuất xứ" id="Xuất xứ" required="required" class="form-input">
                            <option value="0">Lắp ráp trong nước</option>
                            <option value="1">Nhập khẩu</option>
                            

                        </select>
                        <br><br>
                        <label for="">Dòng xe</label>
                        <br>
                            <select name="Dòng xe" id="Dòng xe" required="required" class="form-input">
                                <option value="0">Bán tải / Pickup</option>
                                <option value="1">Convertible/Cabriolet</option>
                                <option value="2">Coupe</option>
                                <option value="3">Crossover</option>
                                <option value="4">Hatchback</option>
                                <option value="5">SUV</option>
                                <option value="6">Sedan</option>
                                <option value="7">Truck</option>
                                <option value="8">Van/Minivan</option>
                                <option value="9">Wagon</option>

                            </select>
                            <br><br>

                            <label for="">Số Km đã đi</label>
                                    <input type="number" name="Số Km đã đi" id="Số Km đã đi" required="required" class="form-input">
                                <br><br>
                            <label for="">Màu ngoại thất</label>
                                <select name="Màu ngoại thất" id="Màu ngoại thất" required="required" class="form-input">
                                    <option value="0">Bạc</option>
                                    <option value="1">Cam</option>
                                    <option value="2">Cát</option>
                                    <option value="3">Ghi</option>
                                    <option value="4">Hồng</option>
                                    <option value="5">Kem</option>
                                    <option value="6">Màu khác</option>
                                    <option value="7">Nhiều màu</option>
                                    <option value="8">Nâu</option>
                                    <option value="9">Trắng</option>
                                    <option value="10">Tím</option>
                                    <option value="11">Vàng</option>
                                    <option value="12">Xanh</option>
                                    <option value="13">Xám</option>
                                    <option value="14">Đen</option>
                                    <option value="15">Đỏ</option>
                                    <option value="16">Đồng</option>
                                </select>
                            <br><br>
                           
                            <label for="">Màu nội thất</label>
                                <select name="Màu nội thất" id="Màu nội thất" required="required" class="form-input">
                                    <option value="0">Bạc</option>
                                    <option value="1">Cam</option>
                                    <option value="2">Cát</option>
                                    <option value="3">Ghi</option>
                                    <option value="4">Hồng</option>
                                    <option value="5">Kem</option>
                                    <option value="6">Màu khác</option>
                                    <option value="7">Nhiều màu</option>
                                    <option value="8">Nâu</option>
                                    <option value="9">Trắng</option>
                                    <option value="10">Tím</option>
                                    <option value="11">Vàng</option>
                                    <option value="12">Xanh</option>
                                    <option value="13">Xám</option>
                                    <option value="14">Đen</option>
                                    <option value="15">Đỏ</option>
                                    <option value="16">Đồng</option>
                                </select>
                                <br><br>   
                            <label for="">Số cửa</label>
                                <input type="number" name="Số cửa" id="Số cửa" required="required" class="form-input">
                                <br><br>
                            <label for="">Số chỗ ngồi</label>
            
                                <input type="number" name="Số chỗ ngồi" id="Số chỗ ngồi" required="required" class="form-input">
                            <br><br>
                        
                    </div>
    
                    <div class="form-2">
                        <br><br>
                        <label for="">Hộp số</label>
                            <select name="Hộp số" id="Hộp số" required="required" class="form-input">
                                <option value="0">Khác</option>
                                <option value="1">Số hỗn hợp</option>
                                <option value="2">Số tay</option>
                                <option value="3">Số tự động</option>

                            </select>
                            <br><br>

                            <label for="">Dẫn động</label>
                                <select name="Dẫn động" id="Dẫn động" required="required" class="form-input">
                                    <option value="0">4WD  Dẫn động 4 bánh</option>
                                    <option value="1">4WD hoặc AWD</option>
                                    <option value="2">AWD  4 bánh toàn thời gian</option>
                                    <option value="3">FWD  Dẫn động cầu trước</option>
                                    <option value="4">Khác</option>
                                    <option value="5">RFD  Dẫn động cầu sau</option>
                                </select>
                            <br><br>
                            <label for="">Tiêu thụ nhiên liệu</label>
                                <select name="Tiêu thụ nhiên liệu" id="Tiêu thụ nhiên liệu" required="required" class="form-input">
                                    <option value="0">	L/100Km</option>
                                    <option value="1"> 7	L/100Km</option>
                                    <option value="2"> 8	L/100Km</option>
                                    <option value="3">0	L/100Km</option>
                                    <option value="4">00	L/100Km</option>
                                    <option value="5">05	L/100Km</option>
                                    <option value="6">06	L/100Km</option>
                                    <option value="7">07	L/100Km</option>
                                    <option value="8">08	L/100Km</option>
                                    <option value="9">09	L/100Km</option>
                                    <option value="10">1	L/100Km</option>
                                    <option value="11">10	L/100Km</option>
                                    <option value="12">100	L/100Km</option>
                                    <option value="13">10000	L/100Km</option>
                                    <option value="14">100000	L/100Km</option>
                                    <option value="15">11	L/100Km</option>
                                    <option value="16">111	L/100Km</option>
                                    <option value="17">12	L/100Km</option>
                                    <option value="18">13	L/100Km</option>
                                    <option value="19">14	L/100Km</option>
                                    <option value="20">15	L/100Km</option>
                                    <option value="21">16	L/100Km</option>
                                    <option value="22">17	L/100Km</option>
                                    <option value="23">18	L/100Km</option>
                                    <option value="24">2	L/100Km</option>
                                    <option value="25">20	L/100Km</option>
                                    <option value="26">200000	L/100Km</option>
                                    <option value="27">225	L/100Km</option>
                                    <option value="28">3	L/100Km</option>
                                    <option value="29">4	L/100Km</option>
                                    <option value="30">40	L/100Km</option>
                                    <option value="31">4288	L/100Km</option>
                                    <option value="32">45	L/100Km</option>
                                    <option value="33">5	L/100Km</option>
                                    <option value="34">5,	L/100Km</option>
                                    <option value="35">5.5	L/100Km</option>
                                    <option value="36">5.7	L/100Km</option>
                                    <option value="37">5.8	L/100Km</option>
                                    <option value="38">55	L/100Km</option>
                                    <option value="39">565	L/100Km</option>
                                    <option value="40">58	L/100Km</option>
                                    <option value="41">592	L/100Km</option>
                                    <option value="42">5l	L/100Km</option>
                                    <option value="43">6	L/100Km</option>
                                    <option value="44">6,	L/100Km</option>
                                    <option value="45">6.	L/100Km</option>
                                    <option value="46">6.5	L/100Km</option>
                                    <option value="47">6.8	L/100Km</option>
                                    <option value="48">65	L/100Km</option>
                                    <option value="49">6500	L/100Km</option>
                                    <option value="50">66	L/100Km</option>
                                    <option value="51">68	L/100Km</option>
                                    <option value="52">6l	L/100Km</option>
                                    <option value="53">7	L/100Km</option>
                                    <option value="54">7.	L/100Km</option>
                                    <option value="55">7.5	L/100Km</option>
                                    <option value="56">7.7	L/100Km</option>
                                    <option value="57">7.8	L/100Km</option>
                                    <option value="58">75	L/100Km</option>
                                    <option value="59">77	L/100Km</option>
                                    <option value="60">7L	L/100Km</option>
                                    <option value="61">7l	L/100Km</option>
                                    <option value="62">8	L/100Km</option>
                                    <option value="63">8.5	L/100Km</option>
                                    <option value="64">8.7	L/100Km</option>
                                    <option value="65">83	L/100Km</option>
                                    <option value="66">85	L/100Km</option>
                                    <option value="67">89	L/100Km</option>
                                    <option value="68">8L	L/100Km</option>
                                    <option value="69">8l	L/100Km</option>
                                    <option value="70">9	L/100Km</option>
                                    <option value="71">9.	L/100Km</option>
                                    <option value="72">98	L/100Km</option>
                                    <option value="73">L/100Km</option>
                                </select>
                                <br><br>
                            
                                <label for="">Thương hiệu</label>
                                <select name="Hãng" id="Hãng" required="required" class="form-input">
                                    <option value="0">Acura</option>
                                    <option value="1">Aston Martin</option>
                                    <option value="2">Audi</option>
                                    <option value="3">BMW</option>
                                    <option value="4">BYD</option>
                                    <option value="5">Baic</option>
                                    <option value="6">Bentley</option>
                                    <option value="7">Brilliance</option>
                                    <option value="8">Buick</option>
                                    <option value="9">Cadillac</option>
                                    <option value="10">Changan</option>
                                    <option value="11">Chery</option>
                                    <option value="12">Chevrolet</option>
                                    <option value="13">Chrysler</option>
                                    <option value="14">Citroen</option>
                                    <option value="15">Daewoo</option>
                                    <option value="16">Daihatsu</option>
                                    <option value="17">Dodge</option>
                                    <option value="18">Dongben</option>
                                    <option value="19">Dongfeng</option>
                                    <option value="20">Ferrari</option>
                                    <option value="21">Fiat</option>
                                    <option value="22">Ford</option>
                                    <option value="23">Gaz</option>
                                    <option value="24">Geely</option>
                                    <option value="25">Hino</option>
                                    <option value="26">Honda</option>
                                    <option value="27">Hummer</option>
                                    <option value="28">Hyundai</option>
                                    <option value="29">Infiniti</option>
                                    <option value="30">Isuzu</option>
                                    <option value="31">JRD</option>
                                    <option value="32">Jaguar</option>
                                    <option value="33">Jeep</option>
                                    <option value="34">Kia</option>
                                    <option value="35">Lamborghini</option>
                                    <option value="36">LandRover</option>
                                    <option value="37">Lexus</option>
                                    <option value="38">Lifan</option>
                                    <option value="39">Lincoln</option>
                                    <option value="40">Luxgen</option>
                                    <option value="41">MG</option>
                                    <option value="42">Maserati</option>
                                    <option value="43">Mazda</option>
                                    <option value="44">McLaren</option>
                                    <option value="45">Mekong</option>
                                    <option value="46">Mercedes Benz</option>
                                    <option value="47">Mini</option>
                                    <option value="48">Mitsubishi</option>
                                    <option value="49">Nissan</option>
                                    <option value="50">Peugeot</option>
                                    <option value="51">Pontiac</option>
                                    <option value="52">Porsche</option>
                                    <option value="53">Proton</option>
                                    <option value="54">RAM</option>
                                    <option value="55">Renault</option>
                                    <option value="56">Rolls Royce</option>
                                    <option value="57">SYM</option>
                                    <option value="58">Samsung</option>
                                    <option value="59">Scion</option>
                                    <option value="60">Smart</option>
                                    <option value="61">Ssangyong</option>
                                    <option value="62">Subaru</option>
                                    <option value="63">Suzuki</option>
                                    <option value="64">Tesla</option>
                                    <option value="65">Thaco</option>
                                    <option value="66">Tobe</option>
                                    <option value="67">Toyota</option>
                                    <option value="68">UAZ</option>
                                    <option value="69">VinFast</option>
                                    <option value="70">Vinaxuki</option>
                                    <option value="71">Volkswagen</option>
                                    <option value="72">Volvo</option>
                                    <option value="73">Zotye</option>
                                </select>
                            <br><br>
                           
                            <label for="">Mẫu xe</label>
                                <select name="Grade" id="Grade" required="required" class="form-input">
                                    <option value="0">1 Series</option>
                                    <option value="1">107</option>
                                    <option value="2">1500</option>
                                    <option value="3">1980T</option>
                                    <option value="4">2</option>
                                    <option value="5">2 Series</option>
                                    <option value="6">2008</option>
                                    <option value="7">208</option>
                                    <option value="8">3</option>
                                    <option value="9">3 Series</option>
                                    <option value="10">300 Series</option>
                                    <option value="11">3008</option>
                                    <option value="12">300C</option>
                                    <option value="13">320</option>
                                    <option value="14">323</option>
                                    <option value="15">3308</option>
                                    <option value="16">4 Runner</option>
                                    <option value="17">4 Series</option>
                                    <option value="18">405</option>
                                    <option value="19">408</option>
                                    <option value="20">488</option>
                                    <option value="21">5</option>
                                    <option value="22">5 Series</option>
                                    <option value="23">500</option>
                                    <option value="24">500 Series</option>
                                    <option value="25">5008</option>
                                    <option value="26">508</option>
                                    <option value="27">520</option>
                                    <option value="28">6</option>
                                    <option value="29">6 Series</option>
                                    <option value="30">605</option>
                                    <option value="31">626</option>
                                    <option value="32">650s</option>
                                    <option value="33">7 Series</option>
                                    <option value="34">718</option>
                                    <option value="35">720S</option>
                                    <option value="36">86</option>
                                    <option value="37">911</option>
                                    <option value="38">990T</option>
                                    <option value="39">A class</option>
                                    <option value="40">A1</option>
                                    <option value="41">A3</option>
                                    <option value="42">A4</option>
                                    <option value="43">A5</option>
                                    <option value="44">A6</option>
                                    <option value="45">A7</option>
                                    <option value="46">A8</option>
                                    <option value="47">AMG GT</option>
                                    <option value="48">APV</option>
                                    <option value="49">Accent</option>
                                    <option value="50">Accord</option>
                                    <option value="51">Albea</option>
                                    <option value="52">Almera</option>
                                    <option value="53">Alphard</option>
                                    <option value="54">Alto</option>
                                    <option value="55">Attrage</option>
                                    <option value="56">Auman</option>
                                    <option value="57">Aumark</option>
                                    <option value="58">Avalon</option>
                                    <option value="59">Avante</option>
                                    <option value="60">Avanza</option>
                                    <option value="61">Aventador</option>
                                    <option value="62">Aveo</option>
                                    <option value="63">Aygo</option>
                                    <option value="64">BT50</option>
                                    <option value="65">Baleno</option>
                                    <option value="66">Beetle</option>
                                    <option value="67">Beijing X7</option>
                                    <option value="68">Bentayga</option>
                                    <option value="69">Bluebird</option>
                                    <option value="70">Bongo</option>
                                    <option value="71">Boxster</option>
                                    <option value="72">Brio</option>
                                    <option value="73">C class</option>
                                    <option value="74">CL</option>
                                    <option value="75">CLA class</option>
                                    <option value="76">CLK class</option>
                                    <option value="77">CLS class</option>
                                    <option value="78">CRV</option>
                                    <option value="79">CX 30</option>
                                    <option value="80">CX20</option>
                                    <option value="81">CX5</option>
                                    <option value="82">CX7</option>
                                    <option value="83">CX8</option>
                                    <option value="84">CX9</option>
                                    <option value="85">California</option>
                                    <option value="86">Camaro</option>
                                    <option value="87">Camry</option>
                                    <option value="88">Canter</option>
                                    <option value="89">Captiva</option>
                                    <option value="90">Caravan</option>
                                    <option value="91">Carens</option>
                                    <option value="92">Carnival</option>
                                    <option value="93">Carry</option>
                                    <option value="94">Cayenne</option>
                                    <option value="95">Cedric</option>
                                    <option value="96">Cefiro</option>
                                    <option value="97">Celerio</option>
                                    <option value="98">Celica</option>
                                    <option value="99">Cerato</option>
                                    <option value="100">Ciaz</option>
                                    <option value="101">Citivan</option>
                                    <option value="102">City</option>
                                    <option value="103">Civic</option>
                                    <option value="104">Click</option>
                                    <option value="105">Colorado</option>
                                    <option value="106">Colt</option>
                                    <option value="107">Continental</option>
                                    <option value="108">Cooper</option>
                                    <option value="109">Corolla</option>
                                    <option value="110">Corolla Cross</option>
                                    <option value="111">Corolla altis</option>
                                    <option value="112">Corona</option>
                                    <option value="113">County</option>
                                    <option value="114">Cressida</option>
                                    <option value="115">Creta</option>
                                    <option value="116">Crown</option>
                                    <option value="117">Cruze</option>
                                    <option value="118">Cullinan</option>
                                    <option value="119">DB X30</option>
                                    <option value="120">DB1021</option>
                                    <option value="121">DS3</option>
                                    <option value="122">Daily</option>
                                    <option value="123">Defender</option>
                                    <option value="124">Discovery</option>
                                    <option value="125">Discovery Sport</option>
                                    <option value="126">Dmax</option>
                                    <option value="127">Doblo</option>
                                    <option value="128">Duster</option>
                                    <option value="129">E class</option>
                                    <option value="130">EQS</option>
                                    <option value="131">ES</option>
                                    <option value="132">EX</option>
                                    <option value="133">EcoSport</option>
                                    <option value="134">Elantra</option>
                                    <option value="135">Emgrand</option>
                                    <option value="136">Eon</option>
                                    <option value="137">Equus</option>
                                    <option value="138">Ertiga</option>
                                    <option value="139">Escalade</option>
                                    <option value="140">Escape</option>
                                    <option value="141">Espero</option>
                                    <option value="142">Everest</option>
                                    <option value="143">Explorer</option>
                                    <option value="144">Express</option>
                                    <option value="145">F-Pace</option>
                                    <option value="146">F0</option>
                                    <option value="147">F150</option>
                                    <option value="148">F350</option>
                                    <option value="149">F6</option>
                                    <option value="150">FVR</option>
                                    <option value="151">FX</option>
                                    <option value="152">Fadil</option>
                                    <option value="153">Feroza</option>
                                    <option value="154">Fiesta</option>
                                    <option value="155">Flying Spur</option>
                                    <option value="156">Focus</option>
                                    <option value="157">Forester</option>
                                    <option value="158">Forfour</option>
                                    <option value="159">Forland</option>
                                    <option value="160">Forte</option>
                                    <option value="161">Fortuner</option>
                                    <option value="162">Fortwo</option>
                                    <option value="163">Foton</option>
                                    <option value="164">Freelander</option>
                                    <option value="165">Frontier</option>
                                    <option value="166">G class</option>
                                    <option value="167">G35</option>
                                    <option value="168">G37</option>
                                    <option value="169">GL</option>
                                    <option value="170">GLA class</option>
                                    <option value="171">GLB</option>
                                    <option value="172">GLC</option>
                                    <option value="173">GLE Class</option>
                                    <option value="174">GLK Class</option>
                                    <option value="175">GLS</option>
                                    <option value="176">GS</option>
                                    <option value="177">GX</option>
                                    <option value="178">Galloper</option>
                                    <option value="179">Gazele</option>
                                    <option value="180">Genesis</option>
                                    <option value="181">Gentra</option>
                                    <option value="182">GentraX</option>
                                    <option value="183">Getz</option>
                                    <option value="184">Ghibli</option>
                                    <option value="185">Ghost</option>
                                    <option value="186">Gladiator</option>
                                    <option value="187">Grace</option>
                                    <option value="188">Grand Starex</option>
                                    <option value="189">Grand cherokee</option>
                                    <option value="190">Grand livina</option>
                                    <option value="191">Grand vitara</option>
                                    <option value="192">Grandeur</option>
                                    <option value="193">Grandis</option>
                                    <option value="194">Grunder</option>
                                    <option value="195">H 1</option>
                                    <option value="196">H 100</option>
                                    <option value="197">H2</option>
                                    <option value="198">HD</option>
                                    <option value="199">HRV</option>
                                    <option value="200">HS</option>
                                    <option value="201">Hi lander</option>
                                    <option value="202">Hiace</option>
                                    <option value="203">Highlander</option>
                                    <option value="204">Hijet</option>
                                    <option value="205">Hilux</option>
                                    <option value="206">Hunter</option>
                                    <option value="207">Huracan</option>
                                    <option value="208">IS</option>
                                    <option value="209">Innova</option>
                                    <option value="210">Jazz</option>
                                    <option value="211">Jinbei</option>
                                    <option value="212">Jolie</option>
                                    <option value="213">Juke</option>
                                    <option value="214">K2700</option>
                                    <option value="215">K3</option>
                                    <option value="216">K3000S</option>
                                    <option value="217">K5</option>
                                    <option value="218">Khác</option>
                                    <option value="219">Koleos</option>
                                    <option value="220">Kona</option>
                                    <option value="221">Korando</option>
                                    <option value="222">L300</option>
                                    <option value="223">LC</option>
                                    <option value="224">LM</option>
                                    <option value="225">LS</option>
                                    <option value="226">LX</option>
                                    <option value="227">LaCrosse</option>
                                    <option value="228">Labo</option>
                                    <option value="229">Lacetti</option>
                                    <option value="230">Lancer</option>
                                    <option value="231">Land Cruiser</option>
                                    <option value="232">Lanos</option>
                                    <option value="233">Laser</option>
                                    <option value="234">Latitude</option>
                                    <option value="235">Leganza</option>
                                    <option value="236">Levante</option>
                                    <option value="237">Libero</option>
                                    <option value="238">Livina</option>
                                    <option value="239">Lux A 2.0</option>
                                    <option value="240">Lux SA 2.0</option>
                                    <option value="241">M4</option>
                                    <option value="242">M5</option>
                                    <option value="243">M7</option>
                                    <option value="244">MB</option>
                                    <option value="245">MDX</option>
                                    <option value="246">ML Class</option>
                                    <option value="247">MU-X</option>
                                    <option value="248">Macan</option>
                                    <option value="249">Magnus</option>
                                    <option value="250">Matiz</option>
                                    <option value="251">Maxima</option>
                                    <option value="252">Maybach</option>
                                    <option value="253">Mcar</option>
                                    <option value="254">Megane</option>
                                    <option value="255">Micra</option>
                                    <option value="256">Mighty</option>
                                    <option value="257">Mirage</option>
                                    <option value="258">Mobihome</option>
                                    <option value="259">Mondeo</option>
                                    <option value="260">Montero</option>
                                    <option value="261">Morning</option>
                                    <option value="262">Mulsanne</option>
                                    <option value="263">Murano</option>
                                    <option value="264">Musso</option>
                                    <option value="265">Mustang</option>
                                    <option value="266">NLR</option>
                                    <option value="267">NMR</option>
                                    <option value="268">NPR</option>
                                    <option value="269">NQR</option>
                                    <option value="270">NX</option>
                                    <option value="271">Navara</option>
                                    <option value="272">Navigator</option>
                                    <option value="273">New Beetle</option>
                                    <option value="274">Nubira</option>
                                    <option value="275">Odyssey</option>
                                    <option value="276">Ollin</option>
                                    <option value="277">One</option>
                                    <option value="278">Optima</option>
                                    <option value="279">Orlando</option>
                                    <option value="280">Outback</option>
                                    <option value="281">Outlander</option>
                                    <option value="282">Outlander Sport</option>
                                    <option value="283">Pajero</option>
                                    <option value="284">Pajero Sport</option>
                                    <option value="285">Palisade</option>
                                    <option value="286">Panamera</option>
                                    <option value="287">Passat</option>
                                    <option value="288">Patrol</option>
                                    <option value="289">Phantom</option>
                                    <option value="290">Picanto</option>
                                    <option value="291">Pickup</option>
                                    <option value="292">Pixo</option>
                                    <option value="293">Polo</option>
                                    <option value="294">Porter</option>
                                    <option value="295">Prado</option>
                                    <option value="296">Premacy</option>
                                    <option value="297">Premio</option>
                                    <option value="298">President</option>
                                    <option value="299">Previa</option>
                                    <option value="300">Pride</option>
                                    <option value="301">Primera</option>
                                    <option value="302">Prius</option>
                                    <option value="303">Q2</option>
                                    <option value="304">Q3</option>
                                    <option value="305">Q5</option>
                                    <option value="306">Q7</option>
                                    <option value="307">Q8</option>
                                    <option value="308">QKR</option>
                                    <option value="309">QQ3</option>
                                    <option value="310">QX</option>
                                    <option value="311">Qashqai</option>
                                    <option value="312">Quattroporte</option>
                                    <option value="313">Quest</option>
                                    <option value="314">R class</option>
                                    <option value="315">RAV4</option>
                                    <option value="316">RC</option>
                                    <option value="317">RCZ</option>
                                    <option value="318">RX</option>
                                    <option value="319">Raize</option>
                                    <option value="320">Range Rover</option>
                                    <option value="321">Range Rover Evoque</option>
                                    <option value="322">Range Rover Sport</option>
                                    <option value="323">Range Rover Velar</option>
                                    <option value="324">Ranger</option>
                                    <option value="325">Rapide</option>
                                    <option value="326">Ray</option>
                                    <option value="327">Rexton</option>
                                    <option value="328">Rio</option>
                                    <option value="329">Rogue</option>
                                    <option value="330">Roma</option>
                                    <option value="331">Rondo</option>
                                    <option value="332">Rush</option>
                                    <option value="333">S class</option>
                                    <option value="334">S60</option>
                                    <option value="335">S8</option>
                                    <option value="336">S90</option>
                                    <option value="337">SF90 Stradale</option>
                                    <option value="338">SLK class</option>
                                    <option value="339">SM3</option>
                                    <option value="340">SM5</option>
                                    <option value="341">SRM X30</option>
                                    <option value="342">SRX</option>
                                    <option value="343">STS</option>
                                    <option value="344">Sandero</option>
                                    <option value="345">SantaFe</option>
                                    <option value="346">Scirocco</option>
                                    <option value="347">Sedona</option>
                                    <option value="348">Seltos</option>
                                    <option value="349">Sentra</option>
                                    <option value="350">Sequoia</option>
                                    <option value="351">Siena</option>
                                    <option value="352">Sienna</option>
                                    <option value="353">Silver</option>
                                    <option value="354">Solati</option>
                                    <option value="355">Solstice</option>
                                    <option value="356">Soluto</option>
                                    <option value="357">Sonata</option>
                                    <option value="358">Sonet</option>
                                    <option value="359">Sorento</option>
                                    <option value="360">Soul</option>
                                    <option value="361">Spark</option>
                                    <option value="362">Spectra</option>
                                    <option value="363">Sportage</option>
                                    <option value="364">Sprinter</option>
                                    <option value="365">Starex</option>
                                    <option value="366">Stargazer</option>
                                    <option value="367">Starlet</option>
                                    <option value="368">Stavic</option>
                                    <option value="369">Sunny</option>
                                    <option value="370">Super Carry Truck</option>
                                    <option value="371">Super Carry Van</option>
                                    <option value="372">Super Saloon</option>
                                    <option value="373">Swift</option>
                                    <option value="374">T-Cross</option>
                                    <option value="375">TT</option>
                                    <option value="376">Taycan</option>
                                    <option value="377">Teana</option>
                                    <option value="378">Teramont</option>
                                    <option value="379">Terios</option>
                                    <option value="380">Terra</option>
                                    <option value="381">Terracan</option>
                                    <option value="382">Terrano</option>
                                    <option value="383">Territory</option>
                                    <option value="384">Tiguan</option>
                                    <option value="385">Tiida</option>
                                    <option value="386">Tivoli</option>
                                    <option value="387">Touareg</option>
                                    <option value="388">Tourneo</option>
                                    <option value="389">Towner</option>
                                    <option value="390">Trailblazer</option>
                                    <option value="391">Trajet</option>
                                    <option value="392">Transit</option>
                                    <option value="393">Trax</option>
                                    <option value="394">Tribute</option>
                                    <option value="395">Triton</option>
                                    <option value="396">Trooper</option>
                                    <option value="397">Tucson</option>
                                    <option value="398">U7</option>
                                    <option value="399">Universe</option>
                                    <option value="400">Universe Xpress Luxury</option>
                                    <option value="401">Urus</option>
                                    <option value="402">V class</option>
                                    <option value="403">V5</option>
                                    <option value="404">V60</option>
                                    <option value="405">V7</option>
                                    <option value="406">VF e34</option>
                                    <option value="407">VF8</option>
                                    <option value="408">Van</option>
                                    <option value="409">Veloster</option>
                                    <option value="410">Veloz</option>
                                    <option value="411">Venza</option>
                                    <option value="412">Veracruz</option>
                                    <option value="413">Verna</option>
                                    <option value="414">Vios</option>
                                    <option value="415">Vitara</option>
                                    <option value="416">Vito</option>
                                    <option value="417">Vivant</option>
                                    <option value="418">Wagon R+</option>
                                    <option value="419">Wigo</option>
                                    <option value="420">Winstorm</option>
                                    <option value="421">Wira</option>
                                    <option value="422">Wish</option>
                                    <option value="423">Wraith</option>
                                    <option value="424">Wrangler</option>
                                    <option value="425">X</option>
                                    <option value="426">X trail</option>
                                    <option value="427">X1</option>
                                    <option value="428">X2</option>
                                    <option value="429">X3</option>
                                    <option value="430">X4</option>
                                    <option value="431">X5</option>
                                    <option value="432">X6</option>
                                    <option value="433">X7</option>
                                    <option value="434">XC40</option>
                                    <option value="435">XC60</option>
                                    <option value="436">XC90</option>
                                    <option value="437">XE</option>
                                    <option value="438">XF</option>
                                    <option value="439">XJ series</option>
                                    <option value="440">XL7</option>
                                    <option value="441">Xd</option>
                                    <option value="442">Xpander</option>
                                    <option value="443">Yaris</option>
                                    <option value="444">Z4</option>
                                    <option value="445">Z500</option>
                                    <option value="446">Z8</option>
                                    <option value="447">ZDX</option>
                                    <option value="448">ZS</option>
                                    <option value="449">Zace</option>
                                    <option value="450">Zinger</option>
                                    <option value="451">cx3</option>
                                    <option value="452">eMighty</option>
                                    <option value="453">i10</option>
                                    <option value="454">i20</option>
                                    <option value="455">i30</option>
                                    <option value="456">i8</option>
                                </select>
                                <br><br>

                            <label for=""> Năm sản xuất</label>                    
                                <input type="number" name="YearOfManufacture" id="YearOfManufacture" required="required" class="form-input">
                                <br><br>

                            <label for="">Động cơ</label>
                                <select name="Loại máy" id="Loại máy" required="required" class="form-input">
                                    <option value="0">Dầu</option>
                                    <option value="1">Hybrid</option>
                                    <option value="2">Khác</option>
                                    <option value="3">Xăng</option>
                                    <option value="4">Điện</option>
                                </select>                            
                            <br>
                    </div>
                </div>
            
                <form method="POST">
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <button style="font-size: 20px; padding: 10px" id="submit-btn">Predict</button>
                </form>
                <br><br>
                <div>
                    <h3>{{prediction_text}}</h3>
                </div>
        </center>
        </div>
    </div>
    </main>
</body>
</html>